<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title ></title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">
    <div style="left: inherit">
        <form class="form-horizontal" enctype="multipart/form-data" th:object="${car}"
              th:action="@{/car}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Date:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" th:field="*{date}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mark:</label>
                <div class="col-sm-10">
                    <select class="form-control" th:field="*{mark}">
                        <option type="text" value="audi">AUDI</option>
                        <option type="text" value="bmw">BMW</option>
                        <option type="text" value="dodge">DODGE</option>
                        <option type="text" value="chevrolet">CHEVROLET</option>
                        <option type="text" value="mercedes">MERCEDES</option>
                        <option type="text" value="nissan">NISSAN</option>
                        <option type="text" value="opel">OPEL</option>
                        <option type="text" value="renault">RENAULT</option>
                        <option type="text" value="toyota">TOYOTA</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Model:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{model}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Scope:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{scope}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Year:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{year}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mileage, km:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{mileage}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fuel:</label>
                <div class="col-sm-10">
                    <select class="form-control" th:field="*{fuel}">
                        <option type="text" value="benzin">Benzin</option>
                        <option type="text" value="diesel">Diesel</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Transmission:</label>
                <div class="col-sm-10">
                    <select class="form-control" th:field="*{transmission}">
                        <option type="text" value="auto">Auto</option>
                        <option type="text" value="manual">Manual</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Price, $:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{price}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Image 1:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="imageFile"/>
                </div>
            </div>
            <div class="row" style="text-align: center">
                <button type="submit" class="btn btn-default">OK</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>