<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title th:text="${title}"></title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->

</head>
<body>
<div class="container">
    
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div th:if="${not #lists.isEmpty(car)}">
        <table class="table" style="font-family: Tahoma">
            <tr class="active">
                <th><a th:href="@{/filter/AUDI}">AUDI</a></th>
                <th><a th:href="@{/filter/BMW}">BMW</a></th>
                <th><a th:href="@{/filter/CHEVROLET}">CHEVROLET</a></th>
                <th><a th:href="@{/filter/DODGE}">DODGE</a></th>
                <th><a th:href="@{/filter/MERCEDES}">MERCEDES</a></th>
                <th><a th:href="@{/filter/NISSAN}">NISSAN</a></th>
                <th><a th:href="@{/filter/OPEL}">OPEL</a></th>
                <th><a th:href="@{/filter/RENAULT}">RENAULT</a></th>
                <th><a th:href="@{/filter/TOYOTA}">TOYOTA</a></th>
            </tr>
        </table>
        <table class="table table-hover">
            <tr class="active">
                <th>Date</th>
                <th><a th:href="@{/sortmark}">Mark</a></th>
                <th>Model</th>
                <th><a th:href="@{/sortscope}">Scope</a></th>
                <th><a th:href="@{/sortyear}">Year</a></th>
                <th><a th:href="@{/sortmileage}">Mileage, km</a></th>
                <th>Type</th>
                <th><a th:href="@{/sortprice}">Price, $</a></th>
                <th>View</th>
            </tr>
            <tr th:each="car : ${car}">
                <td th:text="${car.date}">Date</td>
                <td th:text="${car.mark}">Mark</td>
                <td th:text="${car.model}">Model</td>
                <td th:text="${car.scope}">Scope</td>
                <td th:text="${car.year}">Year</td>
                <td th:text="${car.mileage}">Mileage</td>
                <td th:text="${car.transmission}">Type</td>
                <td th:text="${car.price}">Price</td>
                <td><a th:href="${'car/' + car.id}">Open</a></td>
            </tr>
        </table>

    </div>

    <div th:fragment='paginationbar' style="text-align: center">
        <div>
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}?'disabled':''">
                    <span th:if='${page.firstPage}'>← First</span>
                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                    <span th:if='${not page.hasPreviousPage}'>«</span>
                    <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                       title='Go to previous page'>«</a>
                </li>
                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                    <a th:if='${not item.current}'
                       th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                    <span th:if='${not page.hasNextPage}'>»</span>
                    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                       title='Go to next page'>»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <span th:if='${page.lastPage}'>Last →</span>
                    <a th:if='${not page.lastPage}'
                       th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <a th:href='@{${page.url}(page=${page.number - 1},size=${50})}'>View 50</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>