<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="${car.mark+' '+car.model+' '+car.year+' '+car.scope}"></title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">
    <div th:if="${#httpServletRequest.remoteUser}? 'null'">
        <table class="table" style="text-align: center">
            <tr th:each="car : ${car}">
                <td><a class="btn btn-default" th:href="${'edit/' + car.id}">Edit</a></td>
                <td><a class="btn btn-default" th:href="${'delete/' + car.id}">Delete</a></td>
            </tr>
        </table>
    </div>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Date:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.date}">date</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mark:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.mark}">mark</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Model:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.model}">model</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Scope:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.scope}">scope</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mileage:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.mileage + ' km'}">mileage</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fuel:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.fuel}">fuel</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Year:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.year}">year</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Transmission:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.transmission}">type</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Price:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${car.price + ' $'}">price</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <img width="400px" th:src="${img}"/>
                    <!--<a th:href="@{image}"><img width="400px" th:src="${image}"/></a>-->
                    <!--<a th:href="${car.IMG3}"><img width="400px" th:src="${car.IMG3}"/></a>-->
                    <!--<a th:href="${car.IMG4}"><img width="400px" th:src="${car.IMG4}"/></a>-->
                </div>
                <div th:if="${message}">
                    <p th:text="${message}"></p>
                </div>
            </div>
            <!--<p th:text="${car.image}"></p>-->
            <!--<p th:text="${img}"></p>-->
        </form>
    </div>
</div>
</body>
</html>